.main-box{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box > img{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.content{
  height: 70%;
  width: 70%;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left{
  height: 80%;
  width: 50%;
  background: yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.left > img{
  height: 50%;
  width: 50%;
}

.left > text{
  font-size: 400%;
  font-family: 'Lora', serif; 
}

.right{
  height: 80%;
  width: 50%;
  background: purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login{
  height: 10%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttons{
  margin-top: 20px;
  /* height: 10%; */
  width: 30%;
  display: flex;
  justify-content: space-around;
}